/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0e1821;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.logo img {
    height: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.cta .btn {
    background-color: #ff4655;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1a2634;
    width: 100vw;
    box-sizing: border-box;
    padding: 20px;
    align-items: center;
}

.hero-content {
    max-width: 50vw;
    text-align: center;
}

.hero-background {
    display: none;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero-content .btn-hero {
    background-color: #ff4655;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.hero-content .btn-hero:hover {
    background-color: #e03e4e;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

.news {
    padding: 50px;
    text-align: center;
}

.news h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}

.news-grid {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.news-item {
    background-color: #1f2e3d;
    padding: 20px;
    border-radius: 10px;
    max-width: 2000px;
    transition: transform 0.3s ease;
    text-align: center;
}

.news-item:hover {
    transform: translateY(-10px);
}

.news-item img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.news-item h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.news-item p {
    font-size: 1rem;
}

.news-item .btn-news {
    display: inline-block;
    margin-top: 10px;
    background-color: #8165d9;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.news-item .btn-news:hover {
    background-color: #e03e4e;
}

.news-agent h1, .news-cartes h1, .news-item-h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.news-agent, .news-cartes {
    padding: 50px;
    text-align: center;
}

.news-agent h2, .news-cartes h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}

.news-agent, .news-cartes {
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.news-agent-item, .news-cartes-item {
    background-color: #1f2e3d;
    padding: 20px;
    border-radius: 10px;
    max-width: 2000px;
    transition: transform 0.3s ease;
    text-align: center;
}

.news-agent-item:hover, .news-cartes-item:hover {
    transform: translateY(-10px);
}

.news-agent-item h3, .news-cartes-item h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.news-agent-item p, .news-cartes-item p {
    font-size: 1rem;
}

.agents, .maps {
    padding: 50px;
    text-align: center;
}

.agents h2, .maps h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}

.agents-grid, .maps-grid {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.agent-item, .map-item {
    background-color: #1f2e3d;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    transition: transform 0.3s ease;
    text-align: center;
}

.agent-item:hover, .map-item:hover {
    transform: translateY(-10px);
}

.agent-item h3, .map-item h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.agent-item p, .map-item p {
    font-size: 1rem;
}


.agent-icon, .map-image, .fanart-image, .img-masterbangkok, .img-agent, .img-map {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    background-color: #ff4655;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: #e03e4e;
}

.news-agent .btn-agent {
    display: inline-block;
    margin-top: 10px;
    background-color: #8165d9;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.news-agent .btn-agent:hover {
    background-color: #e03e4e;
}

.news-cartes .btn-cartes {
    display: inline-block;
    margin-top: 10px;
    background-color: #8165d9;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.news-cartes .btn-cartes:hover {
    background-color: #e03e4e;
}

/* Ajout de l'animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.news-item,
.news-agent-item,
.news-cartes-item,
.agent-item,
.map-item {
    animation: fadeIn 0.5s ease-in-out;
}

.lienGithub {
    text-decoration: none;
    color: #fff;
}

.lienGithub:hover {
    color: goldenrod;
}