body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0e1821;
    color: #fff;
    text-align: center;
}

.maps {
    padding: 50px;
    text-align: center;
}

.maps h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.maps-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.map-item {
    background-color: #1f2937;
    border: 1px solid #394b59;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.map-item img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.map-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.map-item a {
    color: #fff;
    text-decoration: none;
}

.map-item a:hover {
    color: #ff4655;
}