footer {
    background-color: #1f2937;
    color: #d1d5db;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    width: 100%;
    bottom: 0;
}

footer a {
    color: #ff4655;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #e03e4e;
}