header {
    background-color: #ff4655;
    padding: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.header-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-image {
    width: 100px;
    height: auto;
    border-radius: 20px;
    animation: float 3s ease-in-out infinite;
}

header h1 {
    margin: 0;
    color: white;
    font-size: 2em;
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #2a3b4c;
    color: #fff;
}

.search-container input[type="text"]::placeholder {
    color: #ccc;
}

.search-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5f2127;
    color: #fff;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #e03e4e;
}

.header-rediretion-home {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    gap: 10px;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}