<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Characters - Valorant</title>
    <link rel="stylesheet" href="/static/css/characters.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
</head>
<body>
    {{template "header.html" .}}
    <main>
        <section id="agents">
            <div class="agents-container">
                {{range .Characters}}
                <div class="agent-card">
                    <a href="/character/{{.Name}}">
                        <img src="{{.Image}}" alt="{{.Name}}" onerror="this.onerror=null;this.src='/Static/img/error.png';">
                    </a>
                    <img src="{{.RoleIcon}}" alt="Role Icon" class="role-icon">
                    <h3>{{.Name}}</h3>
                    <p>{{.Description}}</p>
                </div>
                {{end}}
            </div>
            <div class="pagination">
                {{if gt .Page 1}}
                <a href="/characters?page={{sub .Page 1}}" class="btn">Précédent</a>
                {{end}}
                {{if lt .Page .TotalPages}}
                <a href="/characters?page={{add .Page 1}}" class="btn">Suivant</a>
                {{end}}
            </div>
        </section>
    </main>
    {{template "footer.html" .}}
</body>
</html>