<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Name}} - Valorant</title>
    <link rel="stylesheet" href="/static/css/character_details.css">
    <link rel="stylesheet" href="/static/css/header.css">
</head>
<body>
    {{template "header.html" .}}
    <main>
        <section id="character-details">
            <h2>{{.Name}}</h2>
            <img class="character-image" src="{{.Image}}" alt="{{.Name}}">
            <p>{{.Description}}</p>
            <h3>Passif</h3>
            <p>{{.Passive}}</p>
            <h3>Compétences</h3>
            <div class="abilities-container">
                {{range .Abilities}}
                <div class="ability">
                    <h4>{{.Name}}</h4>
                    <button onclick="showAbilityDetails('{{.Name}}', '{{.Description}}', '{{.Image}}', '{{.VideoURL}}', '{{.IsVideo}}')">
                        <img class="ability-image" src="{{.Image}}" alt="{{.Name}}">
                    </button>
                </div>
                {{end}}
            </div>
            <h3>Images</h3>
            <div class="images-container">
                {{range .Images}}
                <img src="{{.}}" alt="{{$.Name}}">
                {{end}}
            </div>
        </section>
        <section id="ability-details" style="display: none;">
            <h3 id="ability-name"></h3>
            <img id="ability-image" src="" alt="" style="display: none;">
            <p id="ability-description"></p>
            <video id="ability-video" class="ability-video" controls style="display: none;">
                <source id="ability-video-source" muted autoplay loop>
                Your browser does not support the video tag.
            </video>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Valorant Fan Page</p>
    </footer>
    <script src="/static/js/characters_details.js"></script>
</body>
</html>