<header>
    <div class="header-container">
        <img src="/static/img/cfae886e263126f685510e2f45b82970.jpg" alt="Valorant" class="header-image">
    </div>
    <nav>
        <ul>
            <li><a class="header-redirection-home" href="/home">Accueil</a></li>
            <li><a class="header-redirection-characters" href="/characters">Agents</a></li>
            <li><a class="header-redirection-weapons" href="/weapons">Armes</a></li>
            <li><a class="header-redirection-maps" href="/maps">Cartes</a></li>
            <li><a class="header-redirection-favorites" href="/fav">Vos favoris</a></li>
            <li><a class="header-redirection-about" href="/about">À propos</a></li>
        </ul>
    </nav>
    <div class="search-container">
        <form action="/search" method="get">
            <input type="text" name="search" placeholder="Rechercher...">
            <button type="submit">Rechercher</button>
        </form>
    </div>
</header>