<header>
    <div class="header-container">
        <img src="https://media.valorant-api.com/agents/707eab51-4836-f488-046a-cda6bf494859/fullportrait.png" alt="Valorant" class="header-image">
        <h1>Bienvenue sur Valorant</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/home">Accueil</a></li>
            <li><a href="/characters">Agents</a></li>
            <li><a href="/weapons">Armes</a></li>
            <li><a href="/maps">Cartes</a></li>
        </ul>
    </nav>
</header>