<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche</title>
    <link rel="stylesheet" href="/static/css/search.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
</head>
<body>
    {{template "header.html" .}}
    <main style="padding-bottom: 60px;"> <!-- Ensure enough padding at the bottom -->
        <section class="search-section">
            <h2>Recherche</h2>
            <form action="/search" method="get">
                <input type="text" name="search" placeholder="Rechercher..." required>
                <button type="submit">Rechercher</button>
            </form>
            <div class="search-results">
                {{range .}}
                <div class="search-result-item">
                    <img src="{{.Image}}" alt="{{.Name}}" class="search-result-image">
                    <h3>{{.Name}}</h3>
                    <p>{{.Description}}</p>
                    <p>Similarité : {{.Percentage}}%</p>
                    <a href="{{.Link}}" class="btn-more-info">Voir plus</a>
                </div>
                {{end}}
            </div>
        </section>
    </main>
    {{template "footer.html" .}}
</body>
</html>