<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Armes Valorant</title>
    <link rel="stylesheet" href="/static/css/weapons.css">
    <link rel="stylesheet" href="/static/css/header.css">
</head>
<body>
    {{template "header.html" .}}
    <main>
        <section id="weapons">
            <h1>Armes Valorant</h1>
            <div class="weapons-category">
                <h2>Armes de poing</h2>
                <div class="weapons-container">
                    {{range .Weapons}}
                    {{if eq .Type "EEquippableCategory::Sidearm"}}
                    <div class="weapon-card">
                        <img src="{{.Image}}" alt="{{.Name}}">
                        <h3>{{.Name}}</h3>
                        <p>{{.Description}}</p>
                        <ul>
                            <li>Cadence de tir : {{.FireRate}} coups par seconde</li>
                            <li>Capacité du chargeur : {{.MagazineSize}} balles</li>
                            <li>Temps de rechargement : {{.ReloadTime}} secondes</li>
                        </ul>
                    </div>
                    {{end}}
                    {{end}}
                </div>
            </div>
            <div class="weapons-category">
                <h2>PM</h2>
                <div class="weapons-container">
                    {{range .Weapons}}
                    {{if eq .Type "EEquippableCategory::SMG"}}
                    <div class="weapon-card">
                        <img src="{{.Image}}" alt="{{.Name}}">
                        <h3>{{.Name}}</h3>
                        <p>{{.Description}}</p>
                        <ul>
                            <li>Cadence de tir : {{.FireRate}} coups par seconde</li>
                            <li>Capacité du chargeur : {{.MagazineSize}} balles</li>
                            <li>Temps de rechargement : {{.ReloadTime}} secondes</li>
                        </ul>
                    </div>
                    {{end}}
                    {{end}}
                </div>
            </div>
            <div class="weapons-category">
                <h2>Fusils à pompe</h2>
                <div class="weapons-container">
                    {{range .Weapons}}
                    {{if eq .Type "EEquippableCategory::Shotgun"}}
                    <div class="weapon-card">
                        <img src="{{.Image}}" alt="{{.Name}}">
                        <h3>{{.Name}}</h3>
                        <p>{{.Description}}</p>
                        <ul>
                            <li>Cadence de tir : {{.FireRate}} coups par seconde</li>
                            <li>Capacité du chargeur : {{.MagazineSize}} balles</li>
                            <li>Temps de rechargement : {{.ReloadTime}} secondes</li>
                        </ul>
                    </div>
                    {{end}}
                    {{end}}
                </div>
            </div>
            <div class="weapons-category">
                <h2>Mitrailleuses</h2>
                <div class="weapons-container">
                    {{range .Weapons}}
                    {{if eq .Type "EEquippableCategory::LMG"}}
                    <div class="weapon-card">
                        <img src="{{.Image}}" alt="{{.Name}}">
                        <h3>{{.Name}}</h3>
                        <p>{{.Description}}</p>
                        <ul>
                            <li>Cadence de tir : {{.FireRate}} coups par seconde</li>
                            <li>Capacité du chargeur : {{.MagazineSize}} balles</li>
                            <li>Temps de rechargement : {{.ReloadTime}} secondes</li>
                        </ul>
                    </div>
                    {{end}}
                    {{end}}
                </div>
            </div>
            <div class="weapons-category">
                <h2>Mêlée</h2>
                <div class="weapons-container">
                    {{range .Weapons}}
                    {{if eq .Type "EEquippableCategory::Melee"}}
                    <div class="weapon-card">
                        <img src="{{.Image}}" alt="{{.Name}}">
                        <h3>{{.Name}}</h3>
                        <p>{{.Description}}</p>
                    </div>
                    {{end}}
                    {{end}}
                </div>
            </div>
            <div class="weapons-category">
                <h2>Fusils</h2>
                <div class="weapons-container">
                    {{range .Weapons}}
                    {{if eq .Type "EEquippableCategory::Rifle"}}
                    <div class="weapon-card">
                        <img src="{{.Image}}" alt="{{.Name}}">
                        <h3>{{.Name}}</h3>
                        <p>{{.Description}}</p>
                        <ul>
                            <li>Cadence de tir : {{.FireRate}} coups par seconde</li>
                            <li>Capacité du chargeur : {{.MagazineSize}} balles</li>
                            <li>Temps de rechargement : {{.ReloadTime}} secondes</li>
                        </ul>
                    </div>
                    {{end}}
                    {{end}}
                </div>
            </div>
            <div class="weapons-category">
                <h2>Snipers</h2>
                <div class="weapons-container">
                    {{range .Weapons}}
                    {{if eq .Type "EEquippableCategory::Sniper"}}
                    <div class="weapon-card">
                        <img src="{{.Image}}" alt="{{.Name}}">
                        <h3>{{.Name}}</h3>
                        <p>{{.Description}}</p>
                        <ul>
                            <li>Cadence de tir : {{.FireRate}} coups par seconde</li>
                            <li>Capacité du chargeur : {{.MagazineSize}} balles</li>
                            <li>Temps de rechargement : {{.ReloadTime}} secondes</li>
                        </ul>
                    </div>
                    {{end}}
                    {{end}}
                </div>
            </div>
        </section>
    </main>
    <footer>
        <a href="https://github.com/Jonathan-p-z" class="lienGithub">Jonathan Perez</a>
    </footer>
</body>
</html>